.contents
  
  = render 'shared/side_bar'

  .chat
    .chat__heading
      .chat__heading__left
        %P.chat__heading__left__title
          = @group.name
        %ul.chat__heading__left__member
          Members:
          %li
            = current_user.name
          -@users.each do |user|
            %li
              = user.name
      .chat__heading__edit-btn
        =link_to 'Edit', edit_group_path(@group)
    .chat__messages
      =render partial: "message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        .form__input-box
          = f.text_field :content, placeholder: "type a message", class: "form__input-box__text"
          =f.label :image, class: "form__input-box__image" do
            %i.fa.fa-image
            = f.file_field :image, class: "form__input-box__image--hidden"
        = f.submit "Send", class: "form__btn"
